<% include partials/header %>

<!--Design your page here -->
<section id="main-showpost">
    <div class="container">
        <div class="showpost">
                <h2><%= returnedPost.title%></h3>
                    <div class="post-body">           
                            <p><%= returnedPost.body%></p>
                            By <%=returnedPost.userId%> (<%=returnedPost.id%>)%> <br>
                            Comment - <%= returnedPost.comment%>

                                <form action="/post/<%=returnedPost.id %>" method="post">
                                    <textarea name="comment" id="" cols="30" rows="5"></textarea> <br>             
                                    <button class="comment">Comment</button>
                                </form>
                    </div>
        </div>           
    </div>
</section>